<div class="layer">
    <div class="layer2">
       <div class="text-center">
        <h1 class="userSelec">ABOUT</h1>
        <p class="userSelec">KNOW ABOUT SIA STORE</p>
        <span routerLink="/home" class="me-3 pointer" routerLinkActive="navActive">HOME</span>
        <span class="userSelec">/</span>
         <span routerLink="/about" class="ms-3 pointer" routerLinkActive="navActive">ABOUT</span>
       </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row my-5 g-3 align-items-center ">
            <div class="col-md-6 order-last order-md-first ">
                <h3>Meet The Artists Behind The SIA STORE</h3>
                <p class="text-muted w-75">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore veniam voluptatum repellat. Libero facilis quaerat odio dolorem qui cumque aliquid mollitia ipsa et voluptatibus, autem praesentium debitis corporis vel provident.</p>
            </div>
            <div class="col-md-6 order-first order-md-last">
                <img src="assets/Images/about1.jpg" alt="">
            </div>
        </div>
        <div class="row my-5 g-3 align-items-center ">
            <div class="col-md-6">
                <img src="assets/Images/about2.jpg" alt="">
            </div>
            <div class="col-md-4  offset-md-2">
                <h3 >OUT EXPERIENCE IN FASHION INDUSTRY</h3>
                <p class="text-muted  ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore veniam voluptatum repellat. Libero facilis quaerat odio dolorem qui cumque aliquid mollitia ipsa et voluptatibus, autem praesentium debitis corporis vel provident.</p>
            </div>

        </div>
        <div class="row my-5 g-3 align-items-center ">
            <div class="col-md-12">
                <h3>MEET OUR TEAM</h3>
                <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia nulla aliquid illum.</p>
            </div>
            <div class="col-md-4 position-relative overflow-hidden">
                <img src="assets/Images/11.jpg" alt="">
                <div class="layerimg">
                    <div class="info">
                        <h3>Julia Stoune</h3>
                        <p>Photographer

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 position-relative overflow-hidden">
                <img src="assets/Images/12.jpg" alt="">
                <div class="layerimg">
                    <div class="info">

                        <h3> Anna Tomson </h3>
                        <p>Creative Director

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 position-relative overflow-hidden">
                <img src="assets/Images/13.jpg" alt="">
                <div class="layerimg">
                   <div class="info">
                    <h3>Hellena Mour</h3>
                    <p>Advertisement Manager</p>
                   </div>
                </div>
            </div>


        </div>
    </div>
</section>
