
.navActive{
  width: fit-content;
  border-bottom: 2px solid white;
  border-radius: 3px;
}

 li button{
    padding: 5px 8px ;
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;

}
i{
    margin: 0 0;
}
.navbar-toggler{
    padding: 0;
}

.fa-heart{
    cursor: pointer;
}


.logo{
    width: 60px;
    height: 40px;
    user-select: none;
}

.modal-footer button{
    outline: none;
    border: none;
    background-color: black;
    border-radius: 0;

}
.fa-right-to-bracket{
    margin: 0 8px;
    font-size: 12px;
}
@media (max-width:767px) {
    .fa-right-to-bracket{
        margin-left: 0;
    }
}
.productfav{
    position: relative;
    overflow: hidden;
}
.product-info{
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    text-align: center;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #f6f6f6;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    transition: all 0.6s;
    justify-content: center;

  }
  .productfav{
    height: 230px;
  }
  .productfav img{
    height: 100%;
    width: 100%;
  }
  .productfav:hover .product-info{
    bottom: 30px;
  }
  .product-info i{
    cursor: pointer;
  }
  .favv{
    height: 300px;
    width: 300px;
  }